.title {
    border-bottom: 3px solid var(--primary-color);
    margin-bottom: 10px;
    p {
        display: inline-block;
        padding: 0 5px;
        margin: 5px 0;
        font-weight: 500;
    }
}

.padding{
    padding: 0 12px;
}

.icon-title {
    display: inline-block;
    font-size: 10px;
}
